<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ produto.nome }}</title>
</head>
<body>
    {% if produto.imagem %}
        <img src="/static/uploads/{{ produto.imagem }}" width="200">
    {% else %}
        <p>Sem imagem</p>
    {% endif %}
    <h1>{{ produto.nome }}</h1>
    <p>Código: {{ produto.codigo }}</p>
    <p>Categoria: {{ produto.categoria }}</p>
    <p>Preço: R$ {{ produto.preco }}</p>
    <p>Quantidade disponível: {{ produto.quantidade }}</p>
    {% if current_user.perfil == 'ADMIN' %}
        <a href="/admin">Voltar ao painel</a>
    {% else %}
        <a href="/loja">Voltar ao catálogo</a>
    {% endif %}

    <form action="/carrinho/adicionar" method="POST">
    <input type="hidden" name="produto_id" value="{{ produto.id }}">
    <button type="submit">Adicionar ao carrinho</button>
    </form>
    <a href="/logout">Sair</a>
</body>
</html>