input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.produto-detalhe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media (max-width: 600px) {
    .produto-detalhe-grid {
        grid-template-columns: 1fr;
    }
}

.tabela-responsiva {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}