<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Sertão Autopeças{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/componentes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carrinho.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.jpeg') }}">

    {% block estilos %}{% endblock %}
</head>
<body>

<nav class="navbar">
    <a href="/loja">
        <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="Sertão Autopeças">
    </a>
    <div class="navbar-links">
        {% if current_user.is_authenticated %}
            <span class="navbar-user">Olá, {{ current_user.nome }}!</span>
            {% if current_user.perfil == 'CLIENTE' %}
                <a href="/loja">Loja</a>
                <a href="/carrinho" aria-label="Carrinho" style="position: relative; text-decoration: none; color: white;">
                    🛒
                    <span id="badge-carrinho"></span>
                </a>
                <a href="/meus-pedidos">Meus Pedidos</a>
            {% else %}
                <a href="/admin">Painel Administrativo</a>
                <a href="/">Loja</a>
                <a href="/admin/clientes">Clientes</a>
                <a href="/admin/pedidos">Pedidos</a>
                <a href="/admin/devolucoes">Devoluções</a>
            {% endif %}
            <a href="/logout">Sair</a>
        {% else %}
            <a href="/loja">Loja</a>
            <a href="/login">Login</a>
            <a href="/cadastro">Cadastre-se</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block conteudo %}{% endblock %}
</div>

<footer class="footer">
    <p>© 2026 Sertão Autopeças - Peça! A Gente Entrega!</p>
</footer>

<div id="toast">
    Adicionado com sucesso ✅
</div>

<script src="{{ url_for('static', filename='utils.js') }}" defer></script>
<script src="{{ url_for('static', filename='main.js') }}" defer></script>
<script src="{{ url_for('static', filename='carrinho.js') }}" defer></script>

</body>
</html>