<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>

    <h2>Cadastro</h2>

    {% if erro %}
    <p style="color: red;">{{ erro }}</p>
    {% endif %}

    <form action="/cadastro" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br><br>

        <label for="usuario">Email:</label><br>
        <input type="email" id="usuario" name="email"><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br><br>

        <button type="submit">Entrar</button>
    </form>

</body>
</html>