<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>

    <h2>Cadastro</h2>

    {% if erro %}
    <p style="color: red;">{{ erro }}</p>
    {% endif %}

    <form action="/cadastro" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br><br>

        <label for="usuario">Email:</label><br>
        <input type="email" id="usuario" name="email"><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br><br>

        <label for="endereco">Endereço:</label><br>
        <input type="text" id="endereco" name="endereco"><br><br>

        <label for="cidade">Cidade:</label><br>
        <input type="text" id="cidade" name="cidade"><br><br>

        <label for="estado">Estado:</label><br>
        <input type="text" id="estado" name="estado"><br><br>

        <label for="cep">CEP:</label><br>
        <input type="text" id="cep" name="cep"><br><br>

        <input type="checkbox" id="termos" name="termos" required>
        <label for="termos">Li e aceito os <a href="/termos" target="_blank">Termos de Uso e Política de Privacidade</a></label>

        <br><br>

        <button type="submit">Cadastrar</button>
    </form>
    <a href="/logout">Sair</a>
</body>
</html>