<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>
</head>
<body>

    <h1>Seu Carrinho</h1>

    {% if itens %}
        {% for item in itens %}
            <div>
                <h3>{{ item.produto.nome }}</h3>
                <p>Quantidade: {{ item.quantidade }}</p>
                <p>Subtotal: R$ {{ item.subtotal | moeda }}</p>

                <form action="/carrinho/remover" method="POST">
                <input type="hidden" name="produto_id" value="{{ item.produto.id }}">
                <button type="submit" onclick="return confirm('Tem certeza que deseja remover este produto?')">Remover</button>
        </form>
            </div>
            <hr>
        {% endfor %}

        <h2>Total Geral: R$ {{ total | moeda }}</h2>

        <form action="/pedido/finalizar" method="POST">
        <button type="submit">Finalizar compra</button>
        </form>
    {% else %}
        <p>Seu carrinho está vazio.</p>
    {% endif %}

    <br>
    <a href="/loja">Voltar para a loja</a>
</body>
</html>