<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<p>Não tem conta? <a href="/cadastro">Cadastre-se</a></p>
<body>

    <h2>Tela de Login</h2>

    <form action="/login" method="POST">
        <label for="usuario">Usuário:</label><br>
        <input type="email" id="usuario" name="email"><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha"><br><br>

        <button type="submit">Entrar</button>
    </form>

</body>
</html>